@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

.root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    padding: 35px 10px;
    background-color: #062863;
}

.form-container{
    background-color: #ffffff;
    margin: 20px;
    width: 91.666667%;
    padding: 2rem;
    border-radius: 25px 25px 25px 0;
}

.logo-container{
    padding: 20px;
    margin-left: 470px;
}

.corner-images img{
    position: fixed;
    width: 150px;
    height: 150px;
}

.corner-images .blue{
    top: 0;
    left: 0;
}

.corner-images .green{
    top: 0;
    right: 0;
}

.corner-images .pink{
    bottom: 0;
    left: 0;
}

.corner-images .purple{
    bottom: 0;
    right: 0;
}

header{
    display: block;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 1.5rem;
    line-height: 1.3;
}

.top-text{
    font-size: 1.25rem;
    color: #083E9E;
    font-weight: 700;
}

.sub-text{
    font-size: 0.875rem;
    color: #4A5568;
}

.form-column{
    display: flex;
    flex-direction: column;
}

input, select{
    width: 100%;
    padding: 0.85rem;
    background-color: #EDF2F7;
    border: none;
    margin-bottom: 2rem;
    border-radius: 5px;
}

input:hover, select:hover{
    border: 1px solid #083E9E;
}

.btn-primary{
    width: 100%;
    padding: 0.85rem;
    background-color: #083E9E;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px 8px 8px 0;
}

label{
    font-size: 0.75rem;
    font-weight: 500;
    color: #1a202c;
    margin-bottom: 0.25rem;
    line-height: 2;
}

.account{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 0.75rem;
    color: #ffffff;
    margin-top: 2rem;
}

@media (min-width:768px){
    .form-container{
        width: 30%;
        margin: 0 auto;
    }

    .img-cont{
        margin-left: 550px;
        padding: 20px 0;
    }
}